<h1>Index</h1>

<% @astronauts.each do |astronaut| %>
<p>Name: <%=astronaut.name %></p>
<p>Age: <%= astronaut.age%> </p>
<p>Job: <%= astronaut.job %></p>
<p>Total Time In Space: <%= @time_in_space%></p>
<ul>Missions:
<% astronaut.missions.each do |mission| %>
<li> <%= mission.title  %> </li>
<% end%>
</ul>
<% end%>

<p> Average Age: <%= @astronauts_avg%></p>
