<h1>Index</h1>

<% @astronauts.each do |astronaut| %>
<p><%=astronaut.name %></p>
<p><%= astronaut.age%> </p>
<p><%= astronaut.job %></p>
<p><% astronaut.missions.each do |mission| %></p>
<p><%= mission.title  %> </p>
<% end%>
<% end%>
<p> Average Age: <%= @astronauts_avg%></p>
